:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --branding-color: #8e9fe6;
  --secondary-color: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

body {
  font-family: var(--default-font-family);
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 128px;
  text-align: center;
}
.hero h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
  text-align: center;
}
.hero p {
  font-size: 36px;
  line-height: 54px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
}
.hero-button {
  display: block;
  margin: 0 auto;
  background: none;
  color: var(--branding-color);
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 2px var(--branding-color);
  transition: all 150ms ease-in-out;
}
.project-description-header {
  margin: 60px;
  text-align: center;
}
.homepage-button {
  background: var(--branding-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  border: none;
  transition: all 150ms ease-in-out;
}
.project-description h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 45px;
}
.project-description p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 45px;
}
.project-description {
  padding: 150px 60px;
}
.homepage-link {
  text-decoration: none;
  color: white;
}
.hero-link {
  text-decoration: none;
  color: var(--branding-color);
}
.homepage-link:hover {
  color: var(--branding-color);
}
.homepage-button:hover {
  background: white;
  border: solid 2px var(--branding-color);
}
.hero-link:hover {
  color: white;
}
.hero-button:hover {
  background: var(--branding-color);
}
.project-image {
  background: var(--secondary-color);
  text-align: center;
  padding: 20px;
}
.weather-app-image {
  padding-top: 65px;
}
.dictionary-app-image {
  padding-top: 100px;
}
.about-section {
  padding-top: 200px;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 85px;
}
.about-section h2 {
  font-size: 20px;
  font-weight: bold;
}
.about-section p {
  font-size: 20px;
  padding-top: 25px;
}
.about-text {
  padding-top: 50px;
}
@media (max-width: 992px) {
  .hero h1 {
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .hero {
    padding: 125px 0px;
  }
  .project-description-header {
    margin-bottom: 15px;
  }
  .project-description h2 {
    font-size: 45px;
    margin-bottom: 35px;
  }
  .project-description {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 15px;
  }
}
