:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --branding-color: #8e9fe6;
  --secondary-color: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
}
h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}
.hero h1 {
  font-size: 96px;
  line-height: 128px;
  text-align: center;
}
.hero h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
  text-align: center;
}
.hero p {
  font-size: 36px;
  line-height: 54px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.hero {
  background: var(--secondary-color);
  padding: 260px 20px 150px;
}
.secondary-button {
  display: block;
  margin: 0 auto;
  background: none;
  color: var(--branding-color);
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 2px var(--branding-color);
  transition: all 100ms ease-in-out;
}
.homepage-project-introduction {
  margin: 60px;
  text-align: center;
}
.main-button {
  background: var(--branding-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  border: none;
  transition: all 100ms ease-in-out;
}
.homepage-project-description h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 45px;
}
.homepage-project-description p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 45px;
}
.homepage-project-description {
  padding: 50px 60px;
}
.primary-link {
  text-decoration: none;
  color: white;
}
.secondary-link,
.github-link {
  text-decoration: none;
  color: var(--branding-color);
}
.primary-link:hover {
  color: var(--branding-color);
}
.main-button:hover {
  background: white;
  border: solid 2px var(--branding-color);
}
.secondary-link:hover,
.footer-button:hover {
  color: white;
}
.secondary-button:hover {
  background: var(--branding-color);
}
.homepage-project-image {
  background: var(--secondary-color);
  text-align: center;
  padding: 40px;
  margin: 0px;
}
.homepage-portfolio-image {
  border: solid 2px rgb(216, 214, 214);
}
.dictionary-app-image {
  padding-top: 10px;
}
.headshot-photo {
  padding: 0px;
}
.about-section {
  padding-top: 200px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 85px;
}
.about-section h2 {
  font-size: 20px;
  font-weight: bold;
}
.about-section p {
  font-size: 19px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.about-text {
  padding-top: 0px;
  padding-left: 50px;
}
.technology-section {
  padding-top: 75px;
}
.technology-section h2 {
  font-size: 25px;
  font-weight: bold;
}
.technology-text {
  padding-top: 140px;
  padding-left: 0px;
}
.technology-logo {
  display: block;
  margin: 0 auto;
}
.technology-logo-caption {
  font-size: 13px;
}
.technology-logo-section {
  padding-left: 55px;
  padding-top: 25px;
}
.project-button {
  background: none;
  color: var(--branding-color);
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 2px var(--branding-color);
  transition: all 100ms ease-in-out;
}
.project-button:hover {
  background: var(--branding-color);
}
.paragraph-footer {
  font-size: smaller;
}
.certification-section {
  padding-top: 75px;
}
.certification-text {
  font-size: 25px;
  font-weight: bold;
}
.certificate-image {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: var(--secondary-color);
  transition: all 0.1s ease-in-out;
}
.certificate-image:hover {
  transform: scale(1.1);
}
.works-header {
  padding-top: 190px;
  padding-bottom: 50px;
}
.works-description {
  background: white;
}
.works-images {
  display: block;
  margin: 0 auto;
  background: var(--secondary-color);
}
.bellydance-image {
  padding: 35px;
}
.weather-image {
  padding: 35px;
  height: 463px;
  width: 508px;
}
.work-section {
  padding: 40px 40px 15px 40px;
}
.image-link {
  transition: all 0.1s ease-in-out;
}
.image-link:hover {
  transform: scale(1.1);
}
.portfolio-image-works {
  border: solid 1px rgb(223, 223, 223);
}
.contact-header {
  padding-top: 190px;
  padding-bottom: 60px;
}
.navbar-photo {
  border-radius: 50%;
}
.active {
  color: var(--branding-color) !important;
}
.contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 90px;
  margin-bottom: 50px;
}
.contact-box h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
.contact-box p {
  margin-bottom: 0px;
}
.footer-button {
  margin-top: 40px;
  padding-left: 45px;
  padding-right: 45px;
}
.footer-email {
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}
.footer-email:hover {
  color: var(--branding-color);
}
.footer-logo {
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 10px 15px;
  margin: 50px;
  transition: all 100ms ease-in-out;
}
.footer-logo:hover {
  color: white;
  background: var(--branding-color);
}
.code-info {
  font-size: smaller;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .hero {
    padding: 175px 0px 70px;
  }
  .homepage-project-introduction {
    margin-top: 45px;
    margin-bottom: 0px;
  }
  .homepage-project-description h2 {
    font-size: 45px;
    margin-bottom: 35px;
  }
  .homepage-project-description {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .about-section {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .about-text {
    text-align: center;
    padding-left: 15px;
  }
  .about-text h1 {
    font-size: 45px;
    line-height: 60px;
    padding-top: 20px;
  }
  .works-header {
    padding-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .contact-header {
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .work-description {
    text-align: center;
    padding-left: 20px !important;
  }
  .work-section {
    padding: 0px 15px 15px;
  }
  .works-button {
    display: block;
    margin: 0 auto;
  }
  .contact-link {
    font-size: 17px;
  }
  .contact-title {
    font-size: 21px;
  }
  .footer-email {
    font-size: 17px;
  }
  .footer-logo {
    margin: 50px 35px;
  }
  .certification-section {
    padding: 45px;
  }
  .technology-section {
    padding-top: 20px;
  }
  .technology-text {
    padding-top: 0px;
  }
  .technology-logo-section {
    padding: 25px;
  }
  .certification-caption {
    margin-top: 20px;
  }
  .certification-text {
    margin-bottom: 0px;
  }
  .footer-email-section {
    margin-top: 20px !important;
  }
  .footer-email-section {
    padding-top: 40px;
  }
}
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .hero {
    padding: 175px 0px 70px;
  }
  .homepage-project-introduction {
    margin: 35px;
  }
  .homepage-project-description h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .homepage-project-description p {
    margin-bottom: 25px;
  }
  .homepage-project-description {
    padding-top: 35px;
    padding-bottom: 05px;
  }
  .primary-link {
    font-size: smaller;
  }
  .contact-box h3 {
    font-size: 40px;
  }
  .homepage-section {
    margin-bottom: 50px !important;
  }
  .weather-app-image {
    padding-top: 27px;
  }
  .homepage-portfolio-image {
    margin-top: 18px;
  }
  .contact-box {
    margin-top: 60px;
    margin-bottom: 35px;
  }
  .about-text {
    text-align: center;
    padding: 25px 40px;
  }
  .certification-section {
    padding-top: 55px;
  }
  .technology-section {
    padding-top: 0px;
  }
  .technology-text {
    padding-top: 80px;
  }
  .technology-logo-section {
    padding: 25px;
  }
  .works-header {
    padding-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .contact-header {
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .work-description {
    text-align: center;
    padding-left: 20px !important;
  }
  .work-section {
    padding: 0px 15px 15px;
  }
  .works-button {
    display: block;
    margin: 0 auto;
  }
}
